<a href="https://colab.research.google.com/github/gopikiran-glitch/pandas/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = {
    'Department': ['HR', 'HR', 'IT', 'IT', 'Finance', 'Finance', 'Finance'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace'],
    'Salary': [50000, 55000, 60000, 65000, 70000, 72000, 71000],
    'Experience': [3, 4, 5, 7, 10, 9, 8]
}

df = pd.DataFrame(data)
print(" Original DataFrame:")
print(df)
grouped = df.groupby('Department')
print("\n Grouped object:")
print(grouped)

 Original DataFrame:
  Department Employee  Salary  Experience
0         HR    Alice   50000           3
1         HR      Bob   55000           4
2         IT  Charlie   60000           5
3         IT    David   65000           7
4    Finance      Eva   70000          10
5    Finance    Frank   72000           9
6    Finance    Grace   71000           8

 Grouped object:
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7c07b849ee40>

In [ ]:

print("\n Average Salary by Department:")
print(df.groupby('Department')['Salary'].mean())

print("\n Employee Count by Department:")
print(df.groupby('Department')['Employee'].count())

print("\nTotal Experience by Department:")
print(df.groupby('Department')['Experience'].sum())

 Average Salary by Department:
Department
Finance    71000.0
HR         52500.0
IT         62500.0
Name: Salary, dtype: float64

 Employee Count by Department:
Department
Finance    3
HR         2
IT         2
Name: Employee, dtype: int64

Total Experience by Department:
Department
Finance    27
HR          7
IT         12
Name: Experience, dtype: int64

In [ ]:

print("\n Multiple Aggregations on Salary:")
print(df.groupby('Department')['Salary'].agg(['min', 'max', 'mean', 'count']))
print("\nAggregating Multiple Columns:")

 Multiple Aggregations on Salary:
              min    max     mean  count
Department
Finance     70000  72000  71000.0      3
HR          50000  55000  52500.0      2
IT          60000  65000  62500.0      2

Aggregating Multiple Columns:

In [ ]:

employees = pd.DataFrame({
    'EmpID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'DeptID': [101, 102, 102, 103]
})

departments = pd.DataFrame({
    'DeptID': [101, 102, 103, 104],
    'DeptName': ['HR', 'IT', 'Finance', 'Admin']
})

print(" Employees:")
print(employees)
print("\nDepartments:")
print(departments)
merged_inner = pd.merge(employees, departments, on='DeptID', how='inner')
print("\n Inner Join Result:")
print(merged_inner)

 Employees:
   EmpID     Name  DeptID
0      1    Alice     101
1      2      Bob     102
2      3  Charlie     102
3      4    David     103

Departments:
   DeptID DeptName
0     101       HR
1     102       IT
2     103  Finance
3     104    Admin

 Inner Join Result:
   EmpID     Name  DeptID DeptName
0      1    Alice     101       HR
1      2      Bob     102       IT
2      3  Charlie     102       IT
3      4    David     103  Finance